header {
  display: block;
  font-family: 'Nexa Light';
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 900px;
  height: 100vh;
  color: #28612B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 1.5em solid #28612B;
}

.header-bg{
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100vw;
}

.wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75%;
  position: absolute;
  top: 17%;
  left: 13.5%;
  right: 13.5%;
}

.ulje{
  position: absolute;
  width: 10em;
  top: 4%;
  right: 4%;
}

b{
  font-family: 'Nexa Bold';
}

.left{
  width: 30%;
  margin: auto 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  img{
    width: 300px;
  }
}

.middle{
  width: 35%;
  .countdown{
    text-align: center;
    margin: 0em 0 2em 0;
    countdown{
    font-family: 'Nexa Bold';
    background-color: #D66378;
    min-width: 100%;
    padding: 0.5em 1em;
    color: white;
    font-size: 2.5rem;
    border-radius: 15px;
    margin: 2em auto;
    }
    p{
      font-family: 'Nexa Bold';
      width: 70%;
      margin: 0 auto;
      text-align: center;
      color: #28612B;
      font-size: 1em;
      margin-bottom: 4em;
      text-transform: uppercase;
    }
  }
  .motto{
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    margin: 1.5em 0 0.9em 0;
    line-height: 1.2em;
  }
  .list{
    width: 85%;
    margin: 0 auto;
    text-align: baseline;
  }
  .fas{
    color:#28612B;
    margin: 0 5px;
  }
  p{
    color: black;
    font-size: 1.6em;
    line-height: 1.4em;
  }
}

.right{
  width: 30%;
  margin: auto 0em;
}

@media only screen and (max-width: 1585px) {
  .middle .motto{
    font-size: 3.5em;
    margin: 1.2em 0 0.7em 0;
  }
}

@media only screen and (max-width: 530px) {
  header {
    min-height: 2000px;
    height: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-bottom: none;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(220,126,163,1)), color-stop(25%, rgba(201,115,102,1)), color-stop(50%, rgba(183,170,35,1)), color-stop(75%, rgba(98,130,48,1)), to(rgba(25,98,54,1)));
    background: -o-linear-gradient(top, rgba(220,126,163,1) 0%, rgba(201,115,102,1) 25%, rgba(183,170,35,1) 50%, rgba(98,130,48,1) 75%, rgba(25,98,54,1) 100%);
    background: linear-gradient(180deg, rgba(220,126,163,1) 0%, rgba(201,115,102,1) 25%, rgba(183,170,35,1) 50%, rgba(98,130,48,1) 75%, rgba(25,98,54,1) 100%);
  }

  .header-bg{
    display: none;
  }

  .wrapper{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 90%;
    top: 2em;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .ulje{
    position: absolute;
    width: 5em;
    top: 1em;
    right: 1em;
  }

  b{
    font-family: 'Nexa Bold';
  }

  .left{
    width: 100%;
    margin: 0em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    img{
      width: 250px;
    }
  }

  .middle{
    width: 100%;
    margin-top: 1em;

    .countdown p{
      width: 80%;
      color: white;
    }

    .motto{
      color: white;
      font-size: 4em;
      font-weight: bold;
      text-align: center;
      margin: 1.5em 0 0.9em 0;
      line-height: 1.2em;
    }
    .list{
      color: white;
      width: 85%;
      margin: 0 auto;
      text-align: baseline;
    }
    .fas{
      color: white;
      margin: 0 5px;
    }
    p{
      color: white;
      font-size: 1.6em;
      line-height: 1.4em;
    }
  }

  .right{
    width: 100%;
    margin: auto 0;
    padding: 0px;
  }
}
