<header class="header">
  <img src="assets/header-bg.jpg" alt="" class="header-bg">
  <img src="assets/ulje.png" alt="" class="ulje">
  <div class="wrapper">
      <!-- Gen Info -->
    <div class="left">
      <img src="assets/shishja.png">
    </div>
    <div class="middle">
      <div class="countdown">
        <p>
          Porosisni përpara mbarimit te orarit qe te perfitoni nga oferta
        </p>
        <countdown [config]="{leftTime: 86400000 - currTime}"></countdown>
      </div>
      <h1 class="motto">Shape Your Life!</h1>
      <ul>
        <li>
          <b>Nxit</b> djegien aktive te yndyrnave menjëherë pas pirjes.
        </li>
        <li>
          <b>Lufton</b> yndyrën e keqe të organeve të brendshme.
        </li>
        <li>
          <b>Renie</b> ne peshe pa sforcim fizik.
        </li>
        <li>
          <b>Është</b> një sukses botëror në fushën e dietologjisë.
        </li>
      </ul>
    </div>

    <!-- Input Form -->
    <div class="right">
      <app-order-form></app-order-form>
    </div>
    <!-- /Input Form -->
  </div>
</header>

