/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.container{
  font-family: 'Nexa' !important;
  background: white;
  width: 100%;
  color: #6155a6;
  z-index: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;

  .footer-bg{
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
  }
}

.countdown{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
  text-align: center;
  background-color: #fff;

  countdown{
    font-weight: bold;
    background-color: #D66378;
    width: 20%;
    padding: 0.7em 0.2em;
    color: white;
    font-size: 2.5rem;
  }

  p{
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #28612B;
    font-size: 2.1em;
    line-height: 1.2em;
    text-transform: uppercase;
  }
}

.wrapper{
  margin: 2em auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ulje{
  width: 10em;
  margin-right: 2em;
}

.form{
  width: 35%;
  padding: 0;
  margin: 0 auto;
}

.shishja img{
  width: 320px;
}

.tags{
  font-family: "Nexa";
  margin-top: 2em;
  padding: 1.2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #28612B;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  h1{
    font-family: "Nexa Bold";
    margin: 0;
  }
  p{
    font-weight: bold;
    margin: 0;
  }
}

@media only screen and (min-width: 1112px) and (max-width: 1472){
  .countdown{
    p{
      font-size: 1em;
    }
  }
}

@media only screen and (max-width: 1112px) {

  .container{
    background-image: url("../../assets/fruitbg-invert.png"), linear-gradient(180deg, rgba(220,126,163,1) 0%, rgba(201,115,102,1) 50%, rgba(183,170,35,1) 100%);
    background-size: 70%, 100%;
    background-repeat: repeat, no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
  }

  .footer-bg{
    display: none;
  }

  .countdown{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    margin-bottom: 7em;
    background-color: #fff;

    countdown{
      -ms-flex-line-pack: center;
          align-content: center;
      width: 50%;
      padding: 1em 0.2em;
      font-size: 2.5em;
    }

    p{
      width: 50%;
      font-size: 1em;
    }
  }

  .wrapper{
    padding-bottom: 5em;
    margin: 0 auto;
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: relative;
  }

  .ulje{
    z-index: 100;
    position: absolute;
    width: 5em;
    right: 2em;
    bottom: 45em;
    margin-right: 0;
  }

  .form{
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .shishja img{
    width: 200px;
  }

  .tags{
    font-family: "Nexa";
    margin-top: 2em;
    padding: 1.2em 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #28612B;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: white;

    h1{
      font-family: "Nexa Bold";
      margin: 0;
    }

    p{
      font-weight: bold;
      margin: 0;
    }

  }
}
