<div class="container">
  <img src="assets/footer-bg.jpg" alt="" class="footer-bg">

  <div class="countdown">
    <p>
      Porosisni perpara mbarimit te orarit qe te perfitoni nga oferta
    </p>
    <countdown [config]="{leftTime: 86400000 - currTime}"></countdown>
  </div>

  <div class="wrapper">
    <div>
      <img src="assets/ulje2.png" alt="" class="ulje">
    </div>
    <div class="form">
      <div class="formbox">
        <div class="price">
          <span class="old-price strikethrough">9000L</span>
          <span class="new-price">4500L*</span>
        </div>

        <app-order-form></app-order-form>

        <p class="zbritje">* zbritje 50%</p>
      </div>
    </div>
    <div class="shishja">
      <img src="assets/shishja.png">
    </div>
  </div>

  <!-- <div class="tags">
    <h1>SLIM FIT</h1>
    <p>ProNatural©</p>
  </div> -->

</div>
