.container {
  min-height: 1000px;
  height: 1000px;
  font-family: "Nexa" !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper{
  height: 100%;
  margin: 15em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position:relative;
    img{
      width: 100%;
      z-index: -1;
      position: absolute;
      bottom: 0;
      left: 0;
    }
}

.text{
  width: 40%;
  margin: 10em 13em;
  h1{
    font-size: 3rem;
    line-height: 1;
    font-weight: bold;
    font-family: "Nexa Bold";
    color: #CE5D7B;
  }
  .list{
    margin: 5em auto;
    text-align: baseline;
  }
  .fas{
    color:#28612B;
    margin: 0 5px;
  }
  p{
    color: black;
    font-size: 1.6em;
    line-height: 1.4em;
  }
}

@media only screen and (min-width: 720px) and (max-width: 1275px){
  .wrapper{
    margin: 5em auto;
  }
}

@media only screen and (max-width: 720px) {

  .container{
    height: fit-content;
  }

  .wrapper{
    max-width: 90%;
    margin: 0em auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
      img{
        display: none;
      }
  }

  .text{
    width: 100%;
    margin: 0;
    h1{
      font-size: 3.7em;
      color: #CE5D7B;
    }
  }
}
