<div class="container">
  <div class="wrapper">
    <img src="assets/happy-girl-fruits.png" alt="">
    <div class="text">
      <h1>Dobesim i shpejte dhe i shendetshem</h1>
      <div class="list">
        <p><i class="fas fa-check-circle"></i><b>Nxit</b> djegien aktive te yndyrnave menjehere pas pirjes. <br></p>
        <p><i class="fas fa-check-circle"></i><b>Lufton</b> yndyren e keqe te organeve te brendshme.<br></p>
        <p><i class="fas fa-check-circle"></i><b>Renie</b> ne peshe pa sforcim fizik.<br></p>
        <p><i class="fas fa-check-circle"></i><b>eshte</b> nje sukses boteror ne fushen e dietologjise.<br></p>
      </div>
    </div>

  </div>
</div>
