<div class="container">
  <img src="assets/happy-girl-fruits.jpg" alt="">
  <div class="wrapper">
    <div class="text">
      <h1>Dobësim i shpejtë dhe i shëndetshëm</h1>
      <div class="list">
        <p><i class="fas fa-check-circle"></i><b>Nxit</b> djegien aktive të yndyrnave menjëherë pas pirjes. <br></p>
        <p><i class="fas fa-check-circle"></i><b>Lufton</b> yndyrën e keqe të organeve të brendshme.<br></p>
        <p><i class="fas fa-check-circle"></i><b>Rënie</b> në peshë pa sforcim fizik.<br></p>
        <p><i class="fas fa-check-circle"></i><b>Sukses</b> boteror në fushën e dietologjisë.<br></p>
      </div>
    </div>

  </div>
</div>
