<div class="container">
  <div class="wrapper">
    <img src="assets/happy-girl-fruits.png" alt="">
    <div class="text">
      <h1>Dobesim i shpejte dhe i shendetshem</h1>
      <div class="list">
        <p><i class="fas fa-check-circle"></i><b>Nxit</b> djegien aktive te yndyrnave menjëherë pas pirjes. <br></p>
        <p><i class="fas fa-check-circle"></i><b>Lufton</b> yndyrën e keqe të organeve të brendshme.<br></p>
        <p><i class="fas fa-check-circle"></i><b>Renie</b> ne peshe pa sforcim fizik.<br></p>
        <p><i class="fas fa-check-circle"></i><b>Është</b> një sukses botëror në fushën e dietologjisë.<br></p>
      </div>
    </div>

  </div>
</div>
