/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.container{
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 1px;
  font-family: "Nexa" !important;
  background-color:white;
}

.wrapper{
  border-top: 1em solid rgba(202,95,122,0.8);
  border-bottom: 1em solid rgba(202,95,122,0.8);
  border-left: 2px solid rgba(202,95,122,0.8);
  border-right: 2px solid rgba(202,95,122,0.8);
  border-radius: 20px;
  padding: 1em;
  font-family: "Nexa" !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: 10em auto;
}

.icon{
  margin: 0 1.5em;
  text-align: center;
  img{
    width: 10em;
  }
  p{
    color: #777;
    font-weight: bold;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1010px) {
  .wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 65%;
  }

  .icon{
    margin: 1em 1.5em;
  }
}
