/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.container{
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 1px;
  font-family: "Nexa" !important;
  background: -o-linear-gradient(58deg, rgba(40,11,11,1) 0%, rgba(120,33,33,1) 40%, rgba(211,95,95,1) 100%);
  background: linear-gradient(32deg, rgba(40,11,11,1) 0%, rgba(120,33,33,1) 40%, rgba(211,95,95,1) 100%);
}

.wrapper{
  font-family: "Nexa" !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: 5em auto;
}

.seal{
  margin: 0 1.5em;
  text-align: center;
  img{
    width: 10em;
  }
  p{
    font-weight: bold;
  color: white;
    font-size: 1.5em;
    margin-top: 0.7em;
  }
}

@media screen and (max-width: 1010px) {
  .wrapper{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 65%;
  }

  .seal{
    margin: 1em 1.5em;
  }
}
