<div class="container">
  <div class="back"><a routerLink="/"><</a></div>
  <h1 class="main">Termat & Kushtet</h1>
  <h2 class="follow">Dyqani i Internetit,
    i vendosur në (<a href="https://slimfit1.tk/">https://slimfit1.tk/</a>)
    këtu e tutje i referuar si "Shitësi", publikon një Ofertë Publike për
    shitjen e Mallrave me mjete të largëta.</h2>
<div class="terms">
  <div class="title">1. Përcaktimi i termave</div>
  <div class="subtitle">1.1. "Oferta Publike" (në tekstin e mëtejmë "Oferta")-oferta publike e shitësit për të lidhur një marrëveshje blerje-shitje (në tekstin e mëtejmë "Marrëveshja") në kushtet ekzistuese të përfshira në këtë Marrëveshje dhe të përfshira në shtesa drejtuar një rrethi të pacaktuar personash.</div>
  <div class="subtitle">1.2. "Dyqani Online" është faqja e internetit e Shitësit, e krijuar për të lidhur marrëveshje të ofertës publike (kontrata e blerjes dhe shitjes me pakicë) përmes internetit (duke eleminuar mundësinë e një ekzaminimi të drejtpërdrejtë të Mallrave nga Blerësi, pra shitjen në distancë) ndërmjet Shitësit dhe Blerësit në bazë të njohjes së Blerësit me ofertat e bëra nga Shitësi, imazhet fotografike të Mallrave dhe përshkrimet e ofruara nga Shitësi.</div>
  <div class="subtitle">1.3. "Porosi" - seksioni i Uebsajtit së Shitësit i plotësuar nga Blerësi në përputhje me kërkesat e specifikuara nga këto Kushte në mënyrë që të blini Produktin të zgjedhur nga Blerësi në sajt ose përmes Operatorit.</div>
  <div class="subtitle">1.4. "Mallrat" - janë produkte të ofruara për shitje në faqen e internetit të Shitësit.</div>
  <div class="subtitle">1.5. "Blerësi" - është një klient që vendos një porosi në dyqanin e Internetit në Marrëveshjen e Ofertës Publike vetëm për nevoja personale, familjare, shtëpie ose të tjera jokomerciale. </div>

  <div class="title">2. Kushtet e përgjithshme</div>
  <div class="subtitle">2.1. Oferta konsiderohet e pranuar kur Klienti bën një Porosi për një Produkt në përputhje me kushtet e Ofertës dhe ia dërgon Shitësit.</div>
  <div class="subtitle">2.2. Porosia nga Blerësi i Mallrave e vendosur në faqen e internetit të dyqanit në internet do të thotë që Blerësi pajtohet me të gjitha kushtet e kësaj Oferte.</div>
  <div class="subtitle">2.3. Shitësi ka të drejtë të bëjë ndryshime në Ofertë pa njoftuar Blerësin.</div>
  <div class="subtitle">2.4. Periudha e vlefshmërisë së Ofertës nuk është e kufizuar, përveç nëse specifikohet ndryshe në faqen e internetit të dyqanit të Internetit.</div>
  <div class="subtitle">2.5. Shitësi i siguron Blerësit informacion të plotë dhe të besueshëm në lidhje me Mallrat, përfshirë informacionin mbi pronat kryesore të konsumit të Mallrave, vendin e prodhimit të Mallrave në faqen e dyqaneve në Internet.</div>

  <div class="title">3. Çmimet</div>
  <div class="subtitle">3.1. Çmimi për secilin Produkt është i shënuar në faqen e internetit të dyqanit online.</div>
  <div class="subtitle">3.2. Çmimi i mallrave të paraqitur në faqen e internetit mund të ndryshohet nga Shitësi në çdo kohë me ndonjë arsye.</div>
  <div class="subtitle">3.3. Çmimi i mallrave të porositur tashmë nga Blerësi nuk mund të ndryshohet.</div>
  <div class="subtitle">3.4. Kostoja e dorëzimit nuk përfshihet në çmimin e Mallrave. Shitësi specifikon koston e dorëzimit të Mallrave në faqen e internetit të dyqanit në Internet ose informon Blerësin kur bën porosinë nga Operatori. Shitësi ka të drejtë të ndryshojë koston e dorëzimit të Mallrave pas ekzekutimit të porosisë nga Operatori.</div>

  <div class="title">4. Procedura e porosisë</div>
  <div class="subtitle">4.1. Porosia kryhet nga Blerësi përmes Operatorit me telefon ose përmes shërbimit të dyqanit online.</div>
  <div class="subtitle">4.2. Kur bëni një porosi, Blerësi duhet të tregojë mbiemrin, emrin, adresën e dorëzimit të Produktit, numrin e telefonit të kontaktit të Blerësit dhe adresën e postës elektronike. Ky informacion futet në formularin e regjistrimit të postuar në faqen e internetit të dyqanit në internet ose i njoftohet Operatorit.</div>
  <div class="subtitle">4.3. Duke siguruar informacionin tuaj personal tek Shitësi, Blerësi bie dakord për përpunimin e tyre si me përdorimin e automatizimit dhe pa përdorimin e automatizimit, në veçanti mbledhjen, ruajtjen, transferimin (përfshirë transferimin ndërkufitar) te palët e treta dhe përdorimin e informacionit nga Shitësi për të përmbushur detyrimet ndaj Blerësit në përputhje me këtë Marrëveshje. Blerësi bie dakord për thirrjet hyrëse nga operatorët e Shitësit që informojnë për disponueshmërinë e mallrave, udhëzime për aplikimin, çmimet dhe ofertat promovuese.</div>
  <div class="subtitle">4.4. Për të konfirmuar porosinë, Shitësi do të bëjë një telefonatë në numrin e telefonit të kontaktit të siguruar nga Blerësi.</div>
  <div class="subtitle">4.5. Nëse Shitësi ka nevojë për informacion shtesë, ai ka të drejtë ta kërkojë atë nga Blerësi.</div>
  <div class="subtitle">4.6. Dhënia e të dhënave personale të referuara në paragrafin 4.2. në formularin e regjistrimit në faqen e internetit ose te Operatori nënkupton pranimin e plotë dhe të pakushtëzuar të kësaj Marrëveshje nga Blerësi.</div>
  <div class="subtitle">4.7. Blerësi mund të jetë një person mbi 18 vjeç dhe të ketë para të mjaftueshme për të mbuluar koston e mallrave.</div>
  <div class="subtitle">4.8. Blerësi është përgjegjës për saktësinë dhe rëndësinë e informacionit të dhënë gjatë procesit të porositjes.</div>

  <div class="title">5. Dorëzimi dhe pranimi i shërbimeve</div>
  <div class="subtitle">5.1. Dorëzimi kryhet në të gjithë botën me çdo metodë të disponueshme të vërejtur në faqen e internetit.</div>
  <div class="subtitle">5.2. Koha e dërgesës mund të ndryshojë në varësi të disponueshmërisë së Mallrave dhe duke marrë parasysh çdo vonesë në lidhje me vonesat postare ose rrethanat e forcës madhore për të cilat Shitësi nuk është përgjegjës.</div>
  <div class="subtitle">5.3. Blerësi i paguan mallrat në para korrierit në dorëzimim.</div>
  <div class="subtitle">5.4. Shitësi nuk është përgjegjës për pagimin e taksave dhe tarifave të tjera të një vendi të Marrësit. Të gjitha taksat dhe tarifat në lidhje me blerjen dhe dorëzimin e tyre tek Blerësi duhet të paguhen nga Blerësi.</div>
  <div class="subtitle">5.5. Vendi i dorëzimit tregohet nga Blerësi kur vendos një Porosi në faqen e internetit ose kur porosit përmes Operatorit.</div>
  <div class="subtitle">5.6. Në rast të një çmimi të caktuar gabimisht të mallrave të porositur nga Blerësi, Shitësi kontakton Blerësin sa më shpejt të jetë e mundur për të informuar Blerësin dhe për të konfirmuar Porosinë me çmimin e korrigjuar ose anulimin e Porosisë. Nëse nuk është në gjendje të kontaktojë Blerësin, Porosia anulohet.</div>
  <div class="subtitle">5.7. Mallrat i dorëzohen Blerësit me çmime, emër, sasi dhe shumëllojshmëri që korrespondon me Urdhrin e Blerësit në ditën kur Bëhet Porosia. Paketimi, pamja dhe përbërja e produktit mund të jenë paksa të ndryshme nga ilustrimet në sajt.</div>

  <div class="title">6. Politika e kthimit</div>
  <div class="subtitle">6.1. Kur merr mallrat, Blerësi duhet të kontrollojë pamjen dhe paketimin e tij, numrin e artikujve në porosi, plotësinë, shumëllojshmërinë. Kur postieri dorëzon mallin, Blerësi vendos nënshkrimin e tij në fletën e dërgesës, në kolonën me fjalët: "Porosia e marrë, plotësia e plotë, ofrimi i shërbimeve ofrohet dhe nuk ka pretendime për paraqitjen e mallrave "</div>
  <div class="subtitle">6.2. Blerësi ka të drejtë të refuzojë Mallrat e porositura në çdo kohë para ekzekutimit të Porosisë.</div>
  <div class="subtitle">6.3. Blerësi mund t'i kthejë shitësit produktin me cilësi të papërshtatshme dhe të kërkojë kthimin e shumës së paguar brenda 14 ditëve pas blerjes nëse produkti nuk ishte në përdorim dhe ka ruajtur pamjen e tij origjinale. Kërkesa për rimbursim duhet të specifikohet se çfarë lloj defekti përfshjnë mallrat e kthyer. Dallimi i cilësive të tilla si forma dhe ngjyra e mallrave nga ato të përcaktuara në përshkrimin në faqen e internetit nuk është një keqfunksionim ose mosfunksionim i mallrave. <span>Për të kthyer mallrat Blerësi duhet të paraqesë:
    <ul>
      <li>Kërkesë me shkrim për rimbursim, duke përmendur arsyen e kthimit;</li>
      <li>Bashkangjisë një kopje të pasaportës dhe dëshminë e pagesës për mallrat;</li>
    </ul>
  </span>
    </div>
  <div class="subtitle">6.4. Kërkesat për kthimet duhet të plotësohen brenda 10 ditëve nga marrja e mallrave nga Shitësi, nga Blerësi në rast të përputhjes së mallrave të kthyera me prezantimin dhe cilësinë e tyre.</div>
  <div class="subtitle">6.5. Blerësi do të kompensojë Shitësin me shpenzimet e nevojshme të transportit të bëra në lidhje me organizimin e shkëmbimit ose kthimit të Mallrave.</div>
  <div class="subtitle">6.6. Blerësi nuk ka të drejtë të anulojë porosinë e paguar (ose një pjesë të saj) të një cilësie të mirë, që ka karakteristika individuale.</div>

  <div class="title">7. Kufizimi i përgjegjësisë </div>
  <div class="subtitle">7.1. Shitësi nuk është përgjegjës për pasojat që dalin nga dhënia e informacionit të rremë ose të pasaktë, përfshirë kur informacioni i tillë ka çuar në një dorëzim të vonshëm të Produkteve.</div>
  <div class="subtitle">7.2. Shitësi nuk është përgjegjës për pamundësinë e shërbimit ndaj klientit për ndonjë arsye përtej kontrollit të tij, duke përfshirë prishjen e linjave të komunikimit, dështimin e pajisjeve, dështimin për të përmbushur detyrimet e furnizuesve të shërbimeve të caktuara, etj.</div>
  <div class="subtitle">7.3. Shitësi nuk është përgjegjës për dëmet e shkaktuara nga Blerësi si rezultat i përdorimit jo të duhur të Produkteve të porositura në Faqe.</div>
  <div class="subtitle">7.4. Pa paragjykuar sa më sipër, Shitësi do të lirohet nga përgjegjësia për shkeljen e Traktatit të ofertës, përveç nëse shkelja është shkaktuar nga veprimi i forcës madhore (forcë madhore), përfshirë veprimet e autoriteteve, fatkeqësitë natyrore, zjarri, përmbytja , tërmeti, mungesa e energjisë elektrike, dështimet në një rrjet kompjuterik, grevat, trazirat civile, trazirat, çdo rrethanë tjetër, pa kufizim, mund të ndikojnë në mirëmbajtjen e kushteve të kontratës nga shitësi i ofertës.</div>
  <div class="subtitle">7.5. Shitësi nuk është përgjegjës nëse pritjet e Blerësit për pronat e konsumatorit të Mallrave nuk janë të justifikuara. Efekti i përdorimit të llojeve të caktuara të Mallrave mund të ndryshojë në varësi të karakteristikave individuale të organizmit dhe varet nga kohëzgjatja e përdorimit të Mallrave (rezultati më i mirë arrihet me përdorimin e rregullt dhe afatgjate të Mallrave).</div>

</div>
<div class="subtext">Lexoni me kujdes tekstin e kësaj Oferte dhe nëse nuk pajtoheni me asnjë paragraf të Ofertës, ju keni të drejtë të refuzoni të blini Mallrat e ofruara nga Shitësi dhe të mos kryeni veprimet e specifikuara në paragrafin 2.1. të kësaj Oferte.</div>
</div>
