/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.container{
  font-family: "Nexa" !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: fit-content;
  background-color:white;
}

.wrapper{
  margin: 5em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top{
  text-align: center;
  h1{
    font-size: 4.5em;
    line-height: 1.2em;
    color: #CE5D7B;
    font-weight: bold;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-weight: bold;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 3em auto;
  div{
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    margin: auto;
  }
  img{
    width: 100px;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }
  p{
    margin: 0;
    font-size: 1.5em;
  }
}

.percentages{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 50%;
  margin-top: 5em;
  div{
    margin: 1em;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    margin: auto;
  }
  div:hover{
    cursor: pointer;
    img{
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
              box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    }
  }
  img{
    width: 250px;
    -webkit-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
            box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    border-radius: 20px;
    z-index: 100;
  }
  p{
    font-size: 2em;
    margin-top: 0.5em;
    line-height: 1.3em;
  }
}

@media screen and (min-width: 1146px) and (max-width: 1392px) {
  .top{
    h1{
      font-size: 4.5em;
    }
  }

  .cards {
    width: 60%;
    margin: 3em auto;
    div{
      margin: 1.5em;
    }
  }

  .percentages{
    margin: 4em auto;
    div{
      margin: 1em;
    }

    img{
      width: 200px;
    }
    p{
      font-size: 1.7em;
    }
  }
}


@media screen and (max-width: 1145px) {

  .wrapper{
    width: 90%;
  }

  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%;
    margin: 3em auto;
    div{
      margin: 1em auto;
    }
    img{
      width: 100px;
    }
  }

  .percentages{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin: 5em auto;
    div{
      margin: 1em auto;
    }
    img{
      width: 200px;
    }
  }
}
