<div class="container">
<div class="wrapper">
  <div class="top">
    <h1><b>Ku vepron?!</b></h1>
  </div>

    <div class="cards">
      <!-- <div [ngClass]="{selected: face, fytyra: !face}" (mouseenter)="face = !face;" (mouseleave) ="face = !face"> -->
        <div>
        <img src="assets/belly.png">
            <p>
              Bark
            </p>
      </div>
      <!-- <div [ngClass]="{selected: upper, qafa: !upper}" (mouseenter)="upper = !upper;" (mouseleave) ="upper = !upper"> -->
        <div>
          <img src="assets/ass.png">
            <p>
              Vithe
            </p>
      </div>
      <!-- <div [ngClass]="{selected: upper, qafa: !upper}" (mouseenter)="upper = !upper;" (mouseleave) ="upper = !upper"> -->
        <div>
          <img src="assets/hip.png">
            <p>
              Beli
            </p>
      </div>
      <!-- <div [ngClass]="{selected: upper, qafa: !upper}" (mouseenter)="upper = !upper;" (mouseleave) ="upper = !upper"> -->
        <div>
          <img src="assets/thighs.png">
            <p>
              Kofshe
            </p>
      </div>
      <!-- <div [ngClass]="{selected: arms, qafa: !arms}" (mouseenter)="arms = !arms;" (mouseleave) ="arms = !arms"> -->
        <div>
          <img src="assets/chest.png">
            <p>
              Kraharor
            </p>
      </div>
      <!-- <div [ngClass]="{selected: lower, qafa: !lower}" (mouseenter)="lower = !lower;" (mouseleave) ="lower = !lower"> -->
        <div>
          <img src="assets/arms.png">
            <p>
              Krahe
            </p>
      </div>
      <!-- <div [ngClass]="{selected: lower, qafa: !lower}" (mouseenter)="lower = !lower;" (mouseleave) ="lower = !lower"> -->
        <div>
          <img src="assets/face.png">
            <p>
              Fytyre
            </p>
      </div>
      <!-- <div [ngClass]="{selected: legs, qafa: !legs}" (mouseenter)="legs = !legs;" (mouseleave) ="legs = !legs"> -->
        <div>
          <img src="assets/neck.png">
            <p>
              Qafa
            </p>
      </div>
    </div>

    <div class="percentages">
      <div>
        <img src="assets/1.png">
            <p>
              13-15kg <br>
              ne muaj
            </p>
      </div>
      <div>
        <img src="assets/2.png">
            <p>
              10-12kg <br>
              ne muaj
            </p>
      </div>
      <div>
        <img src="assets/3.png">
            <p>
              15-20kg<br>
              ne muaj
            </p>
      </div>
      <div>
        <img src="assets/4.png">
            <p>
              5-7kg <br>
              ne muaj
            </p>
      </div>
    </div>

  </div>
<!-- </div> -->
</div>
