        <!-- Red Covid Info -->
        <app-covid-warning></app-covid-warning>
        <!-- / Red Covid Info -->

        <!-- Top Banner -->
          <!-- <app-top-banner></app-top-banner> -->
        <!-- / Top Banner -->

        <!-- Header -->
          <app-header id="top"></app-header>
        <!-- / Header -->

        <div class="below">
        <!-- Contains -->
          <app-contains></app-contains>
        <!-- /Contains -->

        <!-- Icon Banner 1 -->
          <app-icon-banner1></app-icon-banner1>
        <!-- /Icon Banner 1 -->

        <!-- Experts Section -->
        <app-experts></app-experts>
        <!-- /Experts Section -->

        <!-- Human Body Section-->
          <app-human-body></app-human-body>
        <!-- /Human Body -->

        <!-- Seals-->
         <app-seals></app-seals>
        <!-- /Sealr -->

        <!-- Before-After Section -->
          <app-before-after></app-before-after>
        <!-- /Before-After Section -->

        <!-- Before-After Section -->
        <app-time-for-effect></app-time-for-effect>
        <!-- /Before-After Section -->
      </div>

        <!-- Spin Wheel -->

        <!-- /Spin Wheel -->

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- / Footer -->
