.container{
  font-family: 'Nexa Light';
  padding: 1.5em;
  text-align: center;
  color: #28612B;
  font-size: 25px;
  width: 70%;
  margin: 0 auto;
  border: 2px solid #28612B;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(20px);
  user-select: none;
}

p{
  font-size: 1em;
  line-height: 1.5;
  margin: 1em 0;
  font-weight: bold;
}

.price{
  width: fit-content;
  margin: 1.5em auto;
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.old-price{
  font-size: 1.5em;
  margin-right: 0.25em;
}

.new-price{
  font-family: "Nexa Bold";
  font-size: 2em;
}

.strikethrough{
  position: relative;
}

.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 0.08em solid;
  border-color: red;

  -webkit-transform:rotate(-7deg);
  -moz-transform:rotate(-7deg);
  -ms-transform:rotate(-7deg);
  -o-transform:rotate(-7deg);
  transform:rotate(-7deg);
}

.input{
  padding: 20px 10px 20px 20px;
  background-color: #eee;
  text-decoration: none;
  margin: 0.6em 0px;
  border-radius: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  text-align: left;
  border: 0px;
  width: 92%;
  color: black;
  transition: all 250ms ease-in-out;
  font-weight: bold;
  font-family: inherit;
  font-size: 0.8em;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select {
  padding: 20px 10px 20px 20px;
  background-color: #eee;
  text-decoration: none;
  margin: 0.6em 0px;
  border-radius: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  text-align: left;
  border: 0px;
  width: 100%;
  color: #28612B;
  transition: all 250ms ease-in-out, border-radius 100ms ease-in-out;
  font-weight: bold;
  font-family: inherit;
  font-size: 0.8em;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select:active, select:focus{
  border-radius: 20px 20px 0 0;
}

.input:active, .input:focus{
  border-radius: 20px 20px 0 0;
}

.input::placeholder{
  color: #28612B;
  font-weight: bold;
  opacity: 0.7;
}

input:hover, select:hover, textarea:hover{
  box-shadow: inset 3px 3px 7px rgba(0,0,0,0.5);
  background: white;
  color: black;
}

.input:hover::placeholder{
  color: black;
}

select:hover{
  cursor: pointer;
}

.button{
  font-family: "Nexa Bold";
  width: 100%;
  border: 0;
  background-color: #E6D766;
  color: black;
  padding: 1em 1.5em;
  margin: 0.5em 0px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease-in-out;
}

.button:hover, .button:focus{
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  background: #fff187;
}

.button:active{
  box-shadow: inset 3px 3px 7px rgba(0,0,0,0.5);
  background: #E6D766;
  color: black;
}

.zbritje{
  font-weight: bold;
  font-size: 0.8em;
}

@media only screen and (max-width: 1142px) {

}

@media only screen and (max-width: 530px) {
  .container{
    padding: 1.5em;
    margin: 2em auto;
    align-items: center;
    text-align: center;
    color: #6155a6;
    font-size: 20px;
  }

  .countdown{
    text-align: center;
    background-color: red;
    border-radius: 50px;
    padding: 30px 10px;
    margin: 0 auto;
    width: 90%;
    font-size: 2.3em;
    color: white;
    font-weight: bold;
  }
}
