.container {
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
  color: #28612B;
  line-height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
}

.background-pattern{
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -100;
  height: 100%;
}

.wrapper{
  width: 75%;
  margin: 5em auto;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2em;
  font-weight: bold;
  color: #28612B;
  font-family: "Nexa";
  text-align: center;
}

.cards{
  width: 100%;
  margin: 5em auto;
  display: flex;
  color: black;
}

.cards .case{
  box-shadow: 3px 3px 7px rgba(0,0,0,0.5);
  border-radius: 0px 10px 10px 10px;
  margin: 15px;
  width: fit-content;
  transition: all 250ms ease-in-out;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: start;
  height: fit-content;
  .text{
    padding: 20px;
  }
  .name{
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
  }
  .age{
    display: inline-block;
    vertical-align:text-bottom;
    font-size: 1em;
    opacity: 0.7;
    background-color: #28612B;
    color: white;
    font-family: "Nexa";
    border-radius: 50px;
    padding: 0px 10px;
    margin: auto 10px;
    justify-self: baseline;
  }
  .words{
    font-size: 1rem;
  }
  p{
    color: black;
  }
}

.prof{
  margin-left:2em;
  border-radius: 50px;
  border: 0.3em solid #28612B;
  width: 77px;
  height: 77px;
}

@media only screen and (max-width: 1422px) {
}

@media only screen and (max-width: 1142px) {

}

@media only screen and (max-width: 842px) {

}

@media only screen and (max-width: 530px) {
  .container{
    height: fit-content;
  }

  .wrapper{
    width: 90%;
    margin: 5em 0;
    text-align: center;
  }

  h1 {
    font-size: 4.5em;
  }

  .cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
  }

  .cards .case{
    .name{
      font-size: 2em;
      font-weight: bold;
      display: inline-block;
    }
    .age{
      display: inline-block;
      vertical-align:text-bottom;
      font-size: 1em;
      opacity: 0.7;
      background-color: #28612B;
      color: white;
      font-family: "Nexa";
      border-radius: 50px;
      padding: 0px 10px;
      margin: auto 10px;
      justify-self: baseline;
    }
    .words{
      font-size: 1rem;
    }
    p{
      color: black;
    }
  }

  .prof{
    margin-top: 3em;
    width: 77px;
    height: 77px;
  }
}
