<div class="container">
  <img src="assets/backgroundpattern2.png" alt="" class="background-pattern">
  <div class="wrapper">
    <div class="title">
      <h1>Deshmi te Klienteve</h1>
    </div>
    <div class="cards">
      <img src="assets/prof1.png" class="prof">
      <div class="case">
        <div class="text">
          <h1 class="name">Ina</h1>
          <h3 class="age">46 vjece</h3>
          <h3 class="place"><i class="fas fa-map-marker-alt"></i>Korce</h3>
          <p class="words">Dieta e çekuilibruar ishte shkaku i peshes sime te tepert.
            Por me orarin tim, nuk kam kohe per te shkuar ne palester.
            Slim Fit eshte kudo me mua.
            E perdor ne shtepi, pune deri sa arrita rezultatin dhe harmonine e deshiruar.</p>
        </div>
      </div>
      <img src="assets/prof2.png" class="prof">
      <div class="case">
        <div class="text">
          <h1 class="name">Nora</h1>
          <h3 class="age">55 vjece</h3>
          <h3 class="place"><i class="fas fa-map-marker-alt"></i>Tirane</h3>
          <p class="words">Anche alla mia eta vorrei essere snella e attraente!
            Pertant, quando mia figlia mi aveva presentato Slim Fit, non ci pensavo tanto e avevo iniziato ad usarlo.
            Non contiene sostanze chimiche o nocive. E un prodotto organico contenente vitamine utili.
            Mi ero sbarazzata dei chili inutili, la mia pelle e diventata fresca mi sento benissimo! Il mio corpo e migliorato tanto!</p>
        </div>
      </div>
      <img src="assets/prof3.png" class="prof">
      <div class="case">
        <div class="text">
          <h1 class="name">Grida</h1>
          <h3 class="age">27 vjece</h3>
          <h3 class="place"><i class="fas fa-map-marker-alt"></i>Berat</h3>
          <p class="words">Duke qene se jam nje nene e re qe i jap gji femijes,
            jo te gjithe produktet per dobesim lejohen te perdoren.
            Kokteili Slim Fit eshte natyral, i shijshem,
            ipoalergjik dhe per kete arsye e zgjodha.
            Mbeta shume e kenaqur me rezultatet!</p>
        </div>
      </div>
    </div>
  </div>
</div>
