<div class="container">
  <img src="assets/backgroundpattern2.png" alt="" class="background-pattern">
  <div class="wrapper">
    <div class="title">
      <h1>Deshmi te Klienteve</h1>
    </div>
    <div class="cards">
      <img src="assets/prof1.png" class="prof">
      <div class="case">
        <div class="text">
          <h1 class="name">Ina</h1>
          <h3 class="age">46 vjec</h3>
          <p class="words">Dieta e çekuilibruar ishte shkaku i peshes sime te tepert.
            Por me orarin tim, nuk kam kohe per te shkuar ne palester.
            Slim Fit eshte kudo me mua.
            E perdor ne shtepi, pune deri sa arrita rezultatin dhe harmonine e deshiruar.</p>
        </div>
      </div>
      <img src="assets/prof2.png" class="prof">
      <div class="case">
        <div class="text">
          <h1 class="name">Altin</h1>
          <h3 class="age">34 vjec</h3>
          <p class="words">E detyroja veten shume here te shkoja ne palester, te merresha me sport apo te rrija pa ngrene per tu dobesuar.
            Por, shpesh nuk e mbaja dot veten.
            Tani, fale Slim Fit di si te dobesohem me plot shije dhe kenaqesi!</p>
        </div>
      </div>
      <img src="assets/prof3.png" class="prof">
      <div class="case">
        <div class="text">
          <h1 class="name">Grida</h1>
          <h3 class="age">27 vjec</h3>
          <p class="words">Duke qene se jam nje nene e re qe i jap gji femijes,
            jo te gjithe produktet per dobesim lejohen te perdoren.
            Kokteili Slim Fit eshte natyral, i shijshem,
            ipoalergjik dhe per kete arsye e zgjodha.
            Mbeta shume e kenaqur me rezultatet!</p>
        </div>
      </div>
    </div>
  </div>
</div>
