.container {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
  height: 780px;
  color: #28612B;
  line-height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.background-pattern{
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: -100;
  height: 100%;
}

.wrapper{
  width: 90%;
  margin: 5em auto;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2em;
  font-weight: bold;
  color: #28612B;
  font-family: "Nexa";
  text-align: center;
}

.cards{
  width: 100%;
  margin: 5em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

.cards .case{
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.5);
          box-shadow: 3px 3px 7px rgba(0,0,0,0.5);
  border-radius: 0px 10px 10px 10px;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  .text{
    padding: 20px;
  }
  .name{
    font-size: 2.5em;
    font-weight: bold;
    display: inline-block;
  }
  .age{
    display: inline-block;
    vertical-align:text-bottom;
    font-size: 1em;
    background-color: #28612B;
    color: white;
    font-family: "Nexa";
    border-radius: 50px;
    padding: 0px 10px;
    margin: 0 10px;
    justify-self: baseline;
  }
  .place{
    display: block;
    font-size: 1.5em;
    color: #28612B;
    font-family: "Nexa Bold";
    border-radius: 50px;
    margin: auto 0;
    justify-self: baseline;
  }
  .fa-map-marker-alt{
    margin-right: 5px;
  }
  .words{
    font-size: 1rem;
  }
  p{
    color: black;
  }
}

.prof{
  margin: 0 1em 0 2.5em;
  border-radius: 50px;
  border: 0.3em solid #28612B;
  width: 77px;
  height: 77px;
}

@media only screen and (max-width: 1422px) {
}

@media only screen and (max-width: 1142px) {

}

@media only screen and (max-width: 842px) {

}

@media only screen and (max-width: 530px) {
  .container{
    min-height: 2000px;
    height: 2000px;
  }

  .wrapper{
    width: 90%;
    margin: 5em 0;
    text-align: center;
  }

  h1 {
    font-size: 4.5em;
  }

  .cards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: left;
  }

  .cards .case{
    .name{
      font-size: 2em;
      font-weight: bold;
      display: inline-block;
    }
    .age{
      display: inline-block;
      vertical-align:text-bottom;
      font-size: 1em;
      opacity: 0.7;
      background-color: #28612B;
      color: white;
      font-family: "Nexa";
      border-radius: 50px;
      padding: 0px 10px;
      margin: auto 10px;
      justify-self: baseline;
    }
    .words{
      font-size: 1rem;
    }
    p{
      color: black;
    }
  }

  .prof{
    margin-top: 3em;
    width: 77px;
    height: 77px;
  }
}
