p{
  font-family: "Nexa" !important;
  font-weight: bold;
  margin: 0;
  padding: 5px;
  color: black;
  background-color: #E6D766;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
