<div class="container">
  <div class="wrapper">
    <div class="left">
      <div class="testimony">
          <p><b>Earl Lawrence Mindell</b>, një nutricionist i njohur Kanadez, përvojë praktike - më shumë se 43 vjet</p><br>
          <p>"Deri tani, SlimFit është mënyra më e mirë për të humbur peshë sot.
            Përparësia e saj kryesore është se është një mënyrë shumë e thjeshtë.
            Thjesht merrni kokrrat Slim Fit sipas udhëzimeve dhe përmbajuni në një dietë
            për të parë se si kilogramët e akumuluar largohen brenda disa ditësh dhe me përfitime shëndetësore.
            <br>
            <br>
            Së fundmi është SlimFit që ju rekomandoj të gjithë pacientëve të mi që i përmbahen
            dietës, dhe vlerësimet për këtë humbje peshe janë pozitive.
            Kokrrat ndihmojnë këdo! Nëse nuk e keni provuar Slim Fit, ju rekomandoj ta
            beni sa më shpejt të jetë e mundur. Slim Fit është në gjëndje t’ju surprizoje këndshëm."</p>
        <a class="button">POROSIT TANI</a>
    </div>

  </div>
  <div class="right">
    <h1>Cfarë mendojnë Dietologët!</h1>
  </div>
</div>
<img src="../../assets/doctor.jpg" alt="" class="doctor">
</div>
