<div class="container">
  <div class="wrapper">
    <div class="left">
      <div class="testimony">
          <p><b>Earl Lawrence Mindell</b>, nje nutricionist i njohur Kanadez, pervoje praktike - me shume se 43 vjet</p><br>
          <p>"Deri tani, SlimFit eshte menyra me e mire per te humbur peshe sot.
            Perparesia e saj kryesore eshte se eshte nje menyre shume e thjeshte.
            Thjesht merrni kokrrat Slim Fit sipas udhezimeve dhe permbajuni ne nje diete
            ketogjenike per te pare se si kilogramet e akumuluar largohen brenda disa ditesh.
            Dhe me perfitime shendetesore.
            <br>
            <br>
            Se fundmi eshte SlimFit qe ju rekomandoj te gjithe pacienteve te mi qe i permbahen
            dietes keto, dhe vleresimet per kete humbje peshe jane pozitive.
            Kokrrat ndihmojne kedo! Nese nuk e keni provuar Slim Fit, ju rekomandoj ta
            beni sa me shpejt te jete e mundur. Slim Fit eshte ne gjendje t’ju surprizoje kendshem."</p>
        <a class="button">POROSIT TANI</a>
    </div>

  </div>
  <div class="right">
    <h1>Cfare mendojne Dietologet!</h1>
    <img src="../../assets/doctor.png" alt="" class="doctor">
  </div>
</div>
</div>
