<div class="container">
  <div class="back"><a routerLink="/"><</a></div>
  <h1 class="main">POLITIKA E PRIVATËSISË</h1>
<div class="policies">
  <div class="title">1. Mbrojtja e të dhënave personale</div>
  <div class="subtitle"><p>Ne kemi prezantuar mjete sigurie për të mbrojtur të dhënat tuaja personale kur vendosni, transferoni dhe punoni me informacionin tuaj personal.</p>
    <p>Ne kemi zhvilluar këtë Politikë të Privatësisë në mënyrë që të kuptoni se si ne mbledhim, përdorim, zbulojmë, transmetojmë dhe ruajmë informacionin tuaj nga kjo faqe. Ne nuk do të përdorim dhe ndajmë informacionin tuaj me askënd tjetër përveç asaj që përshkruhet në këtë Politikë të Privatësisë. Ju lutemi lexoni me kujdes sa vijon.</p>
    <p>Duke përdorur këtë faqe, ju pranoni politikën e privatësisë. Nëse nuk jeni dakord, mos e përdorni këtë uebsajt.</p>
    </div>


  <div class="title">2. Mbledhja dhe përdorimi i informacionit personal</div>
  <div class="subtitle"><p>"Informacion personal" në këtë politikë të privatësisë nënkupton çdo informacion personal në lidhje me përdoruesit individualë të faqes.</p>
    <p>Nuk është e nevojshme të jepni informacionet personale që ne kemi kërkuar, por nëse vendosni të mos e bëni këtë, në shumë raste, ne nuk mund të ofrojmë produktet ose shërbimet tona ose t'u përgjigjemi të gjitha pyetjeve tuaja.</p>
    Nëse dëshironi:
    <ul>
      <li>Plotësoni formularët në sajt, duke kërkuar informacion të mëtejshëm mbi produktet dhe shërbimet tona;</li>
      <li>Shkruani një postim në komunitetin tonë suportit;</li>
      <li>Përdorni portalin partner;</li>
      <li>Merrni pjesë në sondazhe në internet;</li>
      <li>Na kontaktoni;</li>
      <li>Inseroni një ofertë ose konkurs, ose raportoni një problem me sajtin;</li>
    </ul>
    <p>Ne mund të mbledhim një shumëllojshmëri informacioni, duke përfshirë emrin tuaj, adresën e postës elektronike, adresën postare, numrin e telefonit dhe opsionet e kontaktit.</p>
    <p>Ne gjithashtu mbledhim informacion përmes partnerëve tanë (klientëve) të cilët përdorin shërbimet tona (përfshirë përmes zbatimit të kodit tonë në faqen e tyre të internetit) në faqet e tyre të internetit ose aplikacionet mobile. Ne mund të jemi në gjendje të marrim informacione të caktuara për ju siç përshkruhen më poshtë duke përdorur shërbimet tona ose duke vizituar faqe të tilla ose duke përdorur aplikacione celulare.</p>
    </div>

  <div class="title">3. Si i përdorim dhe mbrojmë informacionet tuaja personale</div>
  <div class="subtitle"><p>Informacionet e Identifikimit Personal: Të dhënat nuk do t'u besohen ose shiten palëve të treta. Ne mund të ruajmë informacione personale në vende jashtë kontrollit tonë të drejtpërdrejtë (për shembull, në servera ose në baza të dhënash të vendosura së bashku me hosting providers).</p>

    Informacioni personal që mbledhim na lejon të:
    <ul>
      <li>të sigurojë që përmbajtja e faqes të paraqitet në mënyrën më efikase;</li>
      <li>t'ju sigurojmë informacione, produkte ose shërbime që kërkoni nga ne ose që, për mendimin tonë, mund të jenë me interes për ju;</li>
      <li>të respektojmë detyrimet tona që rrjedhin nga çdo kontratë e lidhur midis jush dhe nesh;</li>
      <li>t’ju azhurnojmë me njoftimet më të fundit të produkteve dhe ngjarjet e ardhshme;</li>
      <li>dërgojmë njoftime të rëndësishme, të tilla si mesazhe në lidhje me ndryshimet në termat, kushtet dhe politikat tona </li>
    </ul>

    <p>Ne jemi të interesuar për mbrojtjen e privatësisë dhe të dhënave tuaja,
      por nuk mund të garantojmë sigurinë e informacionit që ndani me ne ose të garantojmë që informacioni
      juaj të mos mund të arrihet, zbulohet, ndryshohet ose shkatërrohet në kundërshtim me garancitë tona
      standarde teknike dhe të menaxhimit. Kur inseroni informacione konfidenciale (për shembull,
      regjistrimin e letrave kredenciale) në formularin tonë të regjistrimit ose porosisë, ne i kodojmë këto informacione duke
      përdorur teknologjinë Secure Socket (SSL). Sidoqoftë, metoda e transmetimit në internet ose metoda elektronike e ruajtjes
      nuk është 100% e sigurt. Prandaj, ne nuk mund të garantojmë sigurinë e tij absolute. Nëse keni ndonjë pyetje sigurie lidhur
      me Uebsajtin tonë, ju mund të na kontaktoni në complianceslimfit@gmail.com.
      Të dhëna personale të komprometuara, në rast të shkeljes së mbrojtjes së informacionit personal,
      ne do të njoftojmë menjëherë klientët tanë në përputhje me ligjin.</p>

    <p>Konfidencialiteti për fëmijët. Veçanërisht e rëndësishme është mbrojtja e privatësisë së fëmijëve. Për këtë arsye, ne me
      vetëdije nuk mbledhim dhe nuk kërkojmë informacione personale nga askush nën moshën 18 vjeç. Në rast se dimë që kemi mbledhur
      informacione personale nga një fëmijë nën moshën 18 vjeç, ne do t'i heqim ato informacione sa më shpejt e mundshme.
      Nëse besoni se mund të kemi ndonjë informacion nga një fëmijë nën moshën 18 vjeç, ju lutemi na kontaktoni me email
      në <span style="display: inline-block; color: #D66378">complianceslimfit@gmail.com.</span></p>
    </div>

  <div class="title">4. Mbledhja dhe përdorimi i informacionit jo personal</div>
  <div class="subtitle"><p>Ne mbledhim të dhëna në një formë që nuk na lejon të kontaktojmë drejtpërdrejt me
    një përdorues specifik individual. Ne mund të mbledhim, përdorim, transferojmë dhe zbulojmë këtë
    informacion jo-personal për çdo qëllim. </p>
    <p>Më poshtë janë disa shembuj të informacionit jo-personal që ne mbledhim dhe si mund ta përdorim atë:</p>

    <p>Ne mund të mbledhim informacione në lidhje me kompjuterin tuaj, duke përfshirë, kur është e mundur, adresën tuaj IP,
    sistemin operativ dhe llojin e browserit, dhe informacionin në lidhje me aktivitetet tuaja në sajt, siç janë veprimet dhe
    modelet për të treguar. Ky informacion na lejon të kuptojmë më mirë sjelljen e klientit dhe të përmirësojmë produktet dhe shërbimet
    tona dhe të përmirësojmë përvojën e përdoruesit në sit. Ky informacion grumbullohet dhe përdoret për të kuptuar se cila pjesë e sitit,
    produktet dhe shërbimet kanë më shumë interes dhe për të përmirësuar përdoruesin në sit. Të dhënat e grumbulluara konsiderohen të dhëna
    jopersonale për qëllimet e kësaj Politike të Privatësisë. Në rast se adresat IP ose identifikues të ngjashëm konsiderohen të dhëna personale
    nga ligji vendas, këto identifikues trajtohen gjithashtu si të dhëna personale. Partnerët tanë gjithashtu mund të përdorin këto teknologji për
    t'ju ofruar reklama.</p>

    <p>Për shumë arsye, të përshkruara më sipër, ne mund të përdorim cookies të ruajtura në hard diskun e kompjuterit tuaj. Ato na ndihmojnë të
      përmirësojmë uebsajtin dhe të ofrojmë një shërbim më të mirë dhe më të personalizuar.
    Cookies na lejojnë të:</p>
      <ul>
        <li>sigurojmë që përmbajtja e sajtit të paraqitet në mënyrën më efikase për ju dhe për kompjuterin tuaj;</li>
        <li>të përshpejtojë përdorimin e sajtit;</li>
        <li>ruajmë informacione në lidhje me preferencat tuaja;</li>
        <li>personalizojmë sajtin sipas interesave tuaja personale;</li>
        <li>vlerësojmë bazën tonë të klientit dhe modelin e përdorimit, si dhe t’ju identifikojmë kur ju ktheheni në sit.</li>
      </ul>
    <p>Ju mund të çaktivizoni cookies duke aktivizuar cilësimet në browserin tuaj, gjë që ju lejon të refuzoni vendosjen e cookies. Sidoqoftë,
      nëse zgjidhni këtë opsion, nuk do të keni mundësi të përdorni disa pjesë të Sajtit. Nëse nuk i konfiguroni cilësimet e browserit tuaj për
      të refuzuar cookies, sistemi ynë do të lëshojë cookies kur ju të hyni në sajt.</p>
    </div>

  <div class="title">5. Zbulimi i informacionit</div>
  <div class="subtitle"><p>Informacioni juaj personal mund të zbulohet nga ne vetëm nëse është e nevojshme:</p>
    <p><b>(a)</b> Për të zbatuar kërkesat e ligjit ose gjykatës në lidhje me sistemin tonë;</p>
    <p><b>(b)</b> Mbrojtjen e të drejtave ose pronës sonë; </p>
    <p><b>(c)</b> Ndërmarrim veprime të menjëhershme në lidhje me sigurinë personale të punonjësve tanë ose konsumatorëve të shërbimeve, si dhe sigurinë publike.
    Informacioni juaj personal, të cilin ne e marrim në dispozicionin tonë në kohën e regjistrimit, mund t'u transferohet palëve të treta dhe personave
    që bashkëpunojnë me ne në mënyrë që të përmirësojnë cilësinë e shërbimeve tona. Të dhënat tuaja personale nuk do të përdoren për qëllime të tjera përveç
    atyre të renditura më sipër. Adresa e postës elektronike të dhënë gjatë regjistrimit mund të përdoret për t'ju dërguar mesazhe ose njoftime të ndryshimeve
    në lidhje me porosinë tuaj, si dhe për të shpërndarë mesazhe në lidhje me ngjarjet dhe ndryshimet që ndodhin në kompani, informacione të rëndësishme për
    produktet dhe shërbimet e reja, etj gjithashtu për të anulluar abonimin tuaj.</p></div>

  <div class="title">6. Ti mundesh</div>
  <div class="subtitle"><p>Na kontaktoni në çdo kohë për të:</p>
    <ul>
      <li>Kërkuar qasje në informacionin tuaj që kemi;</li>
      <li>Korrigjuar ndonjë nga informacionet tuaja që kemi;</li>
      <li>Fshirë informacionin tuaj;</li>
      <li>Dërguar një ankesë tek Autoriteti i Mbrojtjes së të Dhënave (PDSH)</li>
    </ul>

    <p>Nëse keni ndonjë pyetje të mëtejshme në lidhje me mbledhjen dhe ruajtjen e të dhënave, ju lutemi na kontaktoni në adresën e mëposhtme:
      <span style="display: inline-block; color: #D66378">complianceslimfit@gmail.com.</span></p>

    <p>Ne rezervojmë të drejtën për të mbajtur një kopje të të dhënave tuaja personale për 365 ditë. Nëse besoni se informacioni juaj që kemi është i pasaktë,
    mund të na kontaktoni në mënyrë që ta përditësojmë dhe t'i mbajmë informacionin tuaj të saktë. Çdo e dhënë që nuk është më e nevojshme për qëllimet e specifikuara
    në mbledhjen dhe përdorimin e informacionit personal do të fshihet.</p>
  </div>

  <div class="title">7. Linkime me faqe të tjera</div>
  <div class="subtitle">Uebsiti ynë herë pas here mund të përmbajë linkime me faqet e internetit të rrjeteve partnere, reklamuesve dhe bashkëpunëtorëve. Nëse ndiqni një link të ndonjë nga këto faqe në internet, ju lutem vini re se këto faqe në internet kanë politikat e tyre të privatësisë dhe ne nuk jemi përgjegjës për ato politika. Para se të paraqisni ndonjë informacion personal në këto faqe në internet, rishikoni rregullat e tyre.</div>

</div>
</div>
